@keyframes animated-text{
    from{width: 0;}
    to{width: 472px; border: none;}
}
  
  /* cursor animations */
  
@keyframes animated-cursor{
    from{border-right-color: $primary;}
    to{border-right-color: transparent;}
}

/* loaders */
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}