@media only screen and (min-width:792px){
    .service {
        width: 30%;
    }
}

@media only screen and (max-width:576px){
    #portfolio .container #banner {
        padding-top: 200px !important;
        .intro, .programming-svg {
            width: 80% !important;
        }

        .programming-svg {
            display: block;
            height: 250px !important;
            margin-top: 24px !important;
        }
    }

    .mx-sm-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .mb-sm-5 {
        margin-bottom: 3rem !important;
    }
    
    #technologies.px-4 {
        padding-left: 15px !important;
        padding-right: 15px !important;

        p.description span {
            font-size: 14px;
        }
    }
    @keyframes animated-text{
        from{width: 0;}
        to{width: auto; border: none;}
    }
}

@media only screen and (max-width:791px){
    .navbar.navbar-expand-lg .navbar-brand {
        margin-left: 0 !important;
    }
    #banner {
        padding-top: 180px !important;
    }

    #contact .intro, #contact form {
        width: 100% !important;
    }

    #contact .intro {
        margin-bottom: 24px;
    }
}